.color-nav {
	background-color:  #3E6B7C;
	opacity: .85;

}
.gallery-color {
	background-color: #373F42;
	opacity: 0.9;
}



.collapsible-header {
	background-color: #373F42;
	color: white;
	
}
a:hover 